body{
  background-color:white;
  text-align: center;

}
.main{
  background-color: black;
  padding: 30px;
  margin:100px;
  text-align: center;
}
/*.group2{
  background-color: hsl(244, 38%, 16%);

  height:300px;
  width:400px;
position:relative

   display: inline-block;
}*/
.hey{
  background-color: hsl(244, 38%, 16%);
margin:100px 200px 100px 200px;
  height:340px;
  width:800px;
position:relative;
border-radius: 10px;
}

img{
  float:right;
  width:50%;
  margin:10px;
}
.bold
{
  color:hsl(277, 64%, 61%);
}

.para2
{
  color:white;
position: relative;
}
.one
{
  width:10%;
  color:white;
  display:inline-block;
  margin-left:0px;
}
.two{
  width:10%;
  color:white;
  display: inline-block;
}
.three{
  width:10%;
  color:white;
  display: inline-block;
}
h2
{
  color:white;
  width:40%;
  margin-left: 50px;
  display: inline-block;
  text-align:left;

}
.para1{
  color:hsla(0, 0%, 100%, 0.75);
  width:50%;
margin-left:59px;
  text-align:left;

}
